/documentacion/Grupo#1.aux
/documentacion/Grupo#1.fdb_latexmk
/documentacion/Grupo#1.fls
/documentacion/Grupo#1.log
/documentacion/Grupo#1.out
/documentacion/Grupo#1.synctex.gz
/documentacion/Grupo#1.toc
